<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="shortcut icon" th:href="@{/images/icon-iadsn-sem-fundo.png}" type="image/x-icon">
    <!-- CDN Bootstrap .css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="fundo">
<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">IADSN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page" id="ajax-link-2" th:data-url="@{/movimentacoes/movimentacoesInterface}">Movimentações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="ajax-link-3" th:data-url="@{/relatorios/relatorioInterface}">Relatório</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="ajax-link-1" th:data-url="@{/membros/membrosInterface}">Membros</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Emissões
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/contrato}">Contrato Aluguel</a></li>
                        <li><a class="dropdown-item" href="#">Carteirinhas</a></li>
                        <li><a class="dropdown-item" th:href="@{/downloads/carta.docx}" download>Download Carta</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Configurações
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">Contrato Aluguel</a></li>
                        <li><a class="dropdown-item" href="#">...</a></li>
                        <li><a class="dropdown-item" href="#">...</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <div class="container">
        <div id="dynamic-content">
            <!--Conteúdo dinâmico será posto aqui-->
        </div>
    </div>
</main>

<!--Footer-->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top border-dark col-11  mx-auto">
        <p class="col-md-4 mb-0 text-muted">&copy; 2024 Josué Vítor</p>

        <a th:href="@{/about}"
           class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img style="width: 40px;" th:src="@{/images/icon-iadsn-sem-fundo.png}">
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a th:href="'https://github.com/JVFrancaLisboa'" target="_blank"
                                    class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer>
</div>
<!-- jQuery .js -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- CDN Bootstrap .js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<!-- Navegação entre páginas-->
<script th:src="@{js/ajaxNavigation.js}"></script>
<!-- Input de foto -->
<script th:src="@{js/inputImage.js}"></script>
</body>
</html>