<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Indique a data</title>
  </head>

  <body>
    <div th:fragment="content">
      <div class="container fundo-2">
        <form
          th:action="@{carteirinha/tela}"
          method="get"
          class="row g-3 needs-validation col-md-8 col-lg-6 mx-auto"
          novalidate
        >
          <h1>Insira os dados da carteirinha de MEMBRO:</h1>
          <div class="row">
            <!-- Escolha da pessoa que irá emitir a carteirinha -->
            <div class="col-md-3">
              <label for="validationCustom04" class="form-label"
                >Pessoa:
              </label>
              <select
                class="form-select"
                id="validationCustom04"
                th:field="${dto.membro}"
                required
              >
                <option value="" disabled selected>Selecione um membro</option>
                <option
                  th:each="m : ${membros}"
                  th:value="${m.id}"
                  th:text="${m.nome}"
                ></option>
              </select>
            </div>
            <!-- Data de Batismo nas águas -->
            <div class="col-md-6">
              <label for="validationCustom02" class="form-label"
                >Data batismo nas águas:
              </label>
              <input
                th:field="${dto.BatismoAguas}"
                type="date"
                class="form-control"
                id="validationCustom07"
                required
              />
            </div>
          </div>

          <div class="row">
            <!-- Escolha o rg da pessoa que irá emitir a carteirinha -->
            <div class="col-md-3">
              <label for="validationCustom03" class="form-label">RG:</label>
              <input
                th:field="${dto.rg}"
                type="text"
                class="form-control"
                id="validationCustom03"
                required
              />
              <small class="text-muted">Exemplo: 3333333</small>
            </div>
            <!-- Data de Batismo no espiríto santo -->
            <div class="col-md-6">
              <label for="validationCustom02" class="form-label"
                >Data batismo no espiríto santo:
              </label>
              <input
                th:field="${dto.BatismoEspiritoSanto}"
                type="date"
                class="form-control"
                id="validationCustom02"
                required
              />
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <label for="validationCustom01" class="form-label"
                >Nacionalidade:
              </label>
              <input
                th:field="${dto.nacionalidade}"
                type="text"
                class="form-control"
                placeholder="Insira a Nacionalidade"
                required
              />
            </div>
            <div class="col-12 col-md-6">
              <label for="validationCustom01" class="form-label"
                >Naturalidade:
              </label>
              <input
                th:field="${dto.naturalidade}"
                type="text"
                class="form-control"
                placeholder="Insira a Naturalidade"
                required
              />
            </div>
          </div>
          <div class="col-12 col-md-6">
            <label for="validationCustom01" class="form-label">Campo: </label>
            <input
              th:field="${dto.campo}"
              type="text"
              class="form-control"
              id="validationCustom01"
              placeholder="Insira o Campo"
              required
            />
          </div>
          <input type="hidden" name="tipo" value="MEMBRO" />
          <div class="col-md-06">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
