<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Indique a data</title>
</head>
<body>
<div th:fragment="content">
    <div class="container fundo-2">

        <h1 class="h1 text-center">Data de visualização de relatório</h1>
        <p class="p text-center lead">Informe Mês e Ano.</p>

        <form th:action="@{/relatorios/relatorioInterface}" method="get">
            <div class="row justify-content-md-center">
                <!--        Select mês-->
                <div class="col-md-3">
                    <label for="validationCustom04" class="form-label">Mês: </label>
                    <select class="form-select" id="validationCustom04" required>
                        <option selected value="">Selecione um mês</option>
                        <option value="Janeiro">Janeiro</option>
                        <option value="Fevereiro">Fevereiro</option>
                        <option value="Março">Março</option>
                        <option value="Abril">Abril</option>
                        <option value="Maio">Maio</option>
                        <option value="Junho">Junho</option>
                        <option value="Julho">Julho</option>
                        <option value="Agosto">Agosto</option>
                        <option value="Setembro">Setembro</option>
                        <option value="Outubro">Outubro</option>
                        <option value="Novembro">Novembro</option>
                        <option value="Dezembro">Dezembro</option>
                    </select>
                </div>

                <!--        selec ano-->
                <div class="col-md-3">
                    <label for="validationCustom05" class="form-label">Ano: </label>
                    <select class="form-select" id="validationCustom05" required>
                        <option selected value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                        <option value="2031">2031</option>
                        <option value="2032">2032</option>
                        <option value="2033">2033</option>
                        <option value="2034">2034</option>
                        <option value="2035">2035</option>
                        <option value="2036">2036</option>
                        <option value="2037">2037</option>
                        <option value="2038">2038</option>
                        <option value="2039">2039</option>
                        <option value="2040">2040</option>
                    </select>
                </div>
                <button class="btn btn-outline-secondary navegacao">Obter Relatório</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>