<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Relatório</title>
</head>
<body>
<div th:fragment="content">
    <div class="container fundo-2">
        <div class="texto" style="display:flex; justify-content: space-between;">
            <h1 class="mt-4">Entradas</h1>
            <h1 class="mt-4">Mês de junho 2024</h1>
        </div>
        <table class="table table-bordered border border-dark">
            <thead>
            <tr>
                <th scope="col" style="width: 10%;">Data</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m : ${movimentacoes}">
                <th th:text="${m.data}" scope="row"></th>
                <td th:text="${m.nome}"></td>
                <td th:text="'R$ '+${m.valor}"></td>
            </tr>
            </tbody>
        </table>
        <p class="h6 text-end" th:text="'Valor total: '+${total}"></p>
    </div>
</div>
</body>
</html>